{
  "openapi": "3.0.1",
  "info": {
    "title": "QCall Ai API",
    "description": "A sample API that uses a campaign store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.qcall.ai/api/v1"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/campaign/list": {
      "get": {
        "description": "Returns all campaigns from the system that the user has access to",
        "responses": {
          "200": {
            "description": "Campaign response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/campaign/create": {
      "post": {
        "description": "Creates a new Campaign",
        "requestBody": {
          "description": "Campaign to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignNew"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Campaign response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/campaign/audiences?id={id}": {
      "post": {
        "description": "Returns all campaign's audiences from the system that the user has access to",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the campaign to get audiences"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign audiences response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Audiences"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/listAssistant": {
      "get": {
        "description": "Returns all assistants from the system that the user has access to",
        "responses": {
          "200": {
            "description": "Assistant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Assistant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/createAssistant": {
      "post": {
        "description": "Creates a new Assistant",
        "requestBody": {
          "description": "Assistant to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAssistant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Assistant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assistant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/updateAssistant?id={id}": {
      "put": {
        "description": "Update a Assistant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the assistant to update"
          }
        ],
        "requestBody": {
          "description": "Assistant to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssistant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Assistant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assistant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/deleteassistant?id={id}": {
      "delete": {
        "description": "Deletes a single assistant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of assistant to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Assistant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dialer/list": {
      "get": {
        "description": "Returns all dialers from the system that the user has access to",
        "responses": {
          "200": {
            "description": "Dialer response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dialer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dialer/create": {
      "post": {
        "description": "Creates a new Dialer",
        "requestBody": {
          "description": "Dialer to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewDialer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dialer response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dialer"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dialer/update?id={id}": {
      "put": {
        "description": "Update a Dialer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the dialer to update"
          }
        ],
        "requestBody": {
          "description": "Dialer to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDialer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dialer response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assistant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dialer/delete?id={id}": {
      "delete": {
        "description": "Deletes a single dialer based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of dialer to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Dialer deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tag/list": {
      "get": {
        "description": "Returns all Tags from the system that the user has access to",
        "responses": {
          "200": {
            "description": "Tag response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tag/create": {
      "post": {
        "description": "Creates a new tag",
        "requestBody": {
          "description": "Tag to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewContact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tag response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tag/update?id={id}": {
      "put": {
        "description": "Update a tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the tag to update"
          }
        ],
        "requestBody": {
          "description": "Tag to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tag response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tag/delete?id={id}": {
      "delete": {
        "description": "Deletes a single tag based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of tag to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Tag deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tag/contact/list?id={id}": {
      "post": {
        "description": "Returns all tag's contacts from the system that the user has access to",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the tag to get contacts"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag contacts response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactAudiences"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tag/contact/bulk-upload?id={id}": {
      "post": {
        "description": "Bulk upload tag's contacts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the tag to get contacts"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Contact audiences response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "File uploaded successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tag/contact/create?id={id}": {
      "post": {
        "description": "Creates a new Contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the Tag to create contact"
          }
        ],
        "requestBody": {
          "description": "Contact to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactAudienceNew"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Create Contact response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact created successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tag/contact/update?id={id}": {
      "put": {
        "description": "Update Tag's Contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the tag's contact to update contact"
          }
        ],
        "requestBody": {
          "description": "Contact to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactAudienceNew"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update tag's contact response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact updated successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tag/contact/delete?id={id}": {
      "delete": {
        "description": "Delete a single Tag's contact based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of tag's contact to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contact deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/playground/list": {
      "get": {
        "description": "Returns all playgrounds from the system that the user has access to",
        "responses": {
          "200": {
            "description": "Playground response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Playground"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/playground/call": {
      "post": {
        "description": "Creates a new Playground",
        "requestBody": {
          "description": "Playground to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlayground"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Playground response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Playground"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/knowledgeBase/list": {
      "get": {
        "description": "Returns all knowledge bases that the user has access to. Each item's `data` field is a JSON-encoded string: an array of question/answer objects for FAQ knowledge bases, or an object with `type: \"document_embedding\"` (containing `source_urls`, `total_chunks`, `source_file` or `source_count`) for document and website knowledge bases. `status` is `building` while embeddings are generated in the background, then `ready` or `failed`.",
        "responses": {
          "200": {
            "description": "Knowledge base list response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request succeeded"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KnowledgeBase"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/knowledgeBase/create": {
      "post": {
        "description": "Creates a new knowledge base from FAQs (the **FAQ Mode** tab in the application). Send a title, a language code and a list of question/answer pairs — added manually or parsed from a CSV with `Questions` and `Answers` columns. Embeddings are built in the background; poll `GET /knowledgeBase/build-status` to track progress. For the **Document Upload** flow use `POST /knowledgeBase/upload-embed`, and for the **Website Scrape** flow use `POST /knowledgeBase/embed-urls`.",
        "requestBody": {
          "description": "Knowledge base to create (FAQ Mode)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewKnowledgeBase"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Knowledge base created; embedding is building in the background",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request succeeded"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/knowledgeBase/upload-embed": {
      "post": {
        "description": "Uploads a document and creates a knowledge base from it (the **Document Upload** tab in the application). The document is chunked and embedded directly — no FAQ conversion. Accepted formats are PDF, DOC, DOCX, ODT and MD, with a maximum file size of 30MB. The title is optional and defaults to the file name. Embeddings are built in the background; poll `GET /knowledgeBase/build-status` to track progress.",
        "requestBody": {
          "description": "Multipart form with the document file, an optional title and a language code",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The document file (PDF, DOC, DOCX, ODT or MD, max 30MB)"
                  },
                  "title": {
                    "type": "string",
                    "description": "Optional title, defaults to the file name"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code (e.g. `en`)"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Document uploaded; embedding is building in the background",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request succeeded"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/knowledgeBase/embed-urls": {
      "post": {
        "description": "Creates a knowledge base by scraping website pages (the **Website Scrape** tab in the application). Each URL is scraped, chunked and embedded directly. URLs can be added manually or discovered from a sitemap with `POST /knowledgeBase/list-sitemap`. The title is optional and defaults to `Website KB`. Embeddings are built in the background; poll `GET /knowledgeBase/build-status` to track progress.",
        "requestBody": {
          "description": "Website URLs to scrape and embed (Website Scrape)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbedUrlsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "URLs scraped; embedding is building in the background",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request succeeded"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/knowledgeBase/list-sitemap": {
      "post": {
        "description": "Discovers page URLs from a website's sitemap (used by the **Website Scrape** tab before calling `POST /knowledgeBase/embed-urls`). Send one or more site URLs; the response returns the sitemap URLs found, which the user selects before embedding.",
        "requestBody": {
          "description": "Site URLs to read sitemaps from",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSitemapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sitemap discovery response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request succeeded"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SitemapResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/knowledgeBase/update?id={id}": {
      "put": {
        "description": "Updates a FAQ knowledge base's title, language and question/answer pairs. The whole knowledge base is re-embedded. To edit a single entry of a document or website knowledge base, use `PUT /knowledgeBase/chunks/update?id={id}` instead.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `hash_id` of the knowledge base to update"
          }
        ],
        "requestBody": {
          "description": "Knowledge base fields to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewKnowledgeBase"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Knowledge base updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request succeeded"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/knowledgeBase/delete?id={id}": {
      "delete": {
        "description": "Deletes a knowledge base by its `hash_id`, together with its embeddings.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `hash_id` of the knowledge base to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge base deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request succeeded"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/knowledgeBase/build-status?id={id}": {
      "get": {
        "description": "Returns the embedding build status and progress of a knowledge base. Poll this endpoint (the application polls every 5 seconds) while a knowledge base is in the `building` state until `build_status` is `ready` or `failed`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `hash_id` of the knowledge base"
          }
        ],
        "responses": {
          "200": {
            "description": "Build status response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request succeeded"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    },
                    "data": {
                      "$ref": "#/components/schemas/BuildStatus"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/knowledgeBase/chunks?id={id}": {
      "get": {
        "description": "Returns the embedded entries of a knowledge base, paginated. For FAQ knowledge bases the entries are question/answer pairs; for document and website knowledge bases they are text chunks. The application requests 20 entries per page.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `hash_id` of the knowledge base"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number (1-based)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of entries per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Chunks response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request succeeded"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ChunksPage"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/knowledgeBase/chunks/update?id={id}": {
      "put": {
        "description": "Updates a single entry (question/answer pair or text chunk) of a knowledge base. Only that entry is re-embedded, so this is cheaper than re-embedding the whole knowledge base.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `hash_id` of the knowledge base"
          }
        ],
        "requestBody": {
          "description": "Entry to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChunkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Entry updated and re-embedded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request succeeded"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/knowledgeBase/chunks/delete?id={id}": {
      "delete": {
        "description": "Deletes a single entry (question/answer pair or text chunk) from a knowledge base without re-embedding the whole knowledge base.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The `hash_id` of the knowledge base"
          }
        ],
        "requestBody": {
          "description": "Entry to delete",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteChunkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Entry deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request succeeded"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Campaign": {
        "type": "object",
        "properties": {
          "campaigns_name": {
            "description": "The name of the campaign",
            "type": "string"
          },
          "assistant_name": {
            "description": "The name of the assistant",
            "type": "string"
          },
          "contact_name": {
            "description": "The name of the contact",
            "type": "string"
          },
          "dialer_name": {
            "description": "The name of the dialer",
            "type": "string"
          },
          "dialer_type": {
            "description": "The type of the dialer",
            "type": "string"
          },
          "phone_number": {
            "description": "phone number",
            "type": "string"
          },
          "started_at": {
            "description": "started date",
            "type": "string"
          },
          "is_started": {
            "description": "Is started",
            "type": "boolean"
          },
          "is_automation": {
            "description": "Is automation",
            "type": "boolean"
          }
        }
      },
      "Audiences": {
        "type": "object",
        "properties": {
          "first_name": {
            "description": "First name",
            "type": "string"
          },
          "last_name": {
            "description": "Last name",
            "type": "string"
          },
          "description": {
            "description": "Description",
            "type": "string"
          },
          "phone": {
            "description": "phone number",
            "type": "string"
          },
          "status": {
            "description": "Status",
            "type": "string"
          },
          "call_duration_in_sec": {
            "description": "Call duration in second",
            "type": "string"
          },
          "call_sentiment": {
            "description": "Call sentiment",
            "type": "string"
          },
          "calltranscribe": {
            "description": "Call transcribe",
            "type": "string"
          },
          "is_call_transferred": {
            "description": "Call transferred action",
            "type": "boolean"
          },
          "is_meeting_scheduled": {
            "description": "Meeting scheduled action",
            "type": "boolean"
          },
          "is_message_sent": {
            "description": "Message sent action",
            "type": "boolean"
          },
          "recording_url": {
            "description": "Recording url",
            "type": "string"
          },
          "error": {
            "description": "Error",
            "type": "string"
          }
        }
      },
      "CampaignNew": {
        "required": [
          "campaigns_name",
          "assistant_id",
          "segment_id",
          "dialer_id"
        ],
        "type": "object",
        "properties": {
          "campaigns_name": {
            "description": "The name of the campaign",
            "type": "string"
          },
          "assistant_id": {
            "description": "The id of the assistant",
            "type": "string"
          },
          "segment_id": {
            "description": "The id of the tag",
            "type": "string"
          },
          "dialer_id": {
            "description": "The id of the dialer",
            "type": "string"
          },
          "scheduled_at": {
            "description": "Scheduled date",
            "type": "string"
          },
          "is_automation": {
            "description": "Is automation",
            "type": "boolean"
          }
        }
      },
      "NewCampaign": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CampaignNew"
          },
          {
            "type": "object"
          }
        ]
      },
      "Assistant": {
        "required": [
          "type",
          "language",
          "name",
          "company_name",
          "accent",
          "goal",
          "start_speech",
          "voice_id",
          "voice_name",
          "script",
          "maximum_time_per_call",
          "is_voice_note",
          "voice_note",
          "ai_model_id",
          "sentiment",
          "voice_speed",
          "is_filler",
          "fillers",
          "assistant_image",
          "ai_modal",
          "sensitivity",
          "temperature",
          "opt_out_script",
          "is_wait_start_speech",
          "utterance_length",
          "meeting_note_prompt",
          "call_outcome_prompt"
        ],
        "type": "object",
        "properties": {
          "type": {
            "description": "Type of assistant ",
            "type": "string",
            "enum": [
              "inbound",
              "outbound"
            ]
          },
          "language": {
            "description": "Language of the assistant. Supported values: en (English), de (German), hi (Hindi), es (Spanish), fr (French), it (Italian), ar-kw (Arabic Kuwait), gu (Gujarati), bn (Bengali), te (Telugu India), kn (Kannada India), ta (Tamil India), mr (Marathi).",
            "type": "string",
            "enum": [
              "en",
              "de",
              "hi",
              "es",
              "fr",
              "it",
              "ar-kw",
              "gu",
              "bn",
              "te",
              "kn",
              "ta",
              "mr"
            ]
          },
          "name": {
            "description": "The name of the assistant",
            "type": "string"
          },
          "company_name": {
            "description": "The name of the company",
            "type": "string"
          },
          "accent": {
            "description": "The accent",
            "type": "string"
          },
          "actions": {
            "description": "The actions",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "scheduleMeeting",
                    "sendMessage"
                  ],
                  "description": "Type of action: scheduleMeeting or sendMessage"
                },
                "meetingType": {
                  "type": "string",
                  "enum": [
                    "openBooking"
                  ],
                  "description": "Type of meeting"
                },
                "timezone": {
                  "type": "string",
                  "description": "Timezone for scheduling"
                },
                "startDate": {
                  "type": "string",
                  "description": "Start date in YYYY-MM-DD format"
                },
                "description": {
                  "type": "string",
                  "description": "Action description"
                },
                "say": {
                  "type": "string",
                  "description": "What the assistant should say before executing the action"
                },
                "length": {
                  "type": "integer",
                  "description": "Length of the meeting in minutes"
                },
                "prompt": {
                  "type": "string",
                  "description": "Detailed instructions for meeting scheduling"
                },
                "startTime": {
                  "type": "string",
                  "description": "Start time of booking window (e.g., 09:30 AM)"
                },
                "endTime": {
                  "type": "string",
                  "description": "End time of booking window (e.g., 06:30 PM)"
                },
                "bookingDays": {
                  "type": "string",
                  "description": "Comma-separated list of available booking days"
                },
                "sms": {
                  "type": "object",
                  "description": "SMS configuration for sendMessage action",
                  "properties": {
                    "is_sms": {
                      "type": "boolean",
                      "description": "Enable SMS messaging"
                    },
                    "description": {
                      "type": "string",
                      "description": "Condition text describing when to send the SMS"
                    },
                    "content": {
                      "type": "string",
                      "description": "SMS message content"
                    },
                    "end_call_sms": {
                      "type": "boolean",
                      "description": "Send SMS after the call ends"
                    },
                    "end_call_sms_not_answered": {
                      "type": "boolean",
                      "description": "Send SMS if call is not answered"
                    }
                  }
                },
                "whatsapp": {
                  "type": "object",
                  "description": "WhatsApp (Meta) configuration for sendMessage action (legacy, replaced by Zeplo)",
                  "properties": {
                    "is_whatsapp": {
                      "type": "boolean",
                      "description": "Enable WhatsApp messaging"
                    },
                    "description": {
                      "type": "string",
                      "description": "Condition text describing when to send the message"
                    },
                    "content": {
                      "type": "object",
                      "description": "WhatsApp template object"
                    },
                    "end_call_sms": {
                      "type": "boolean",
                      "description": "Send after call ends"
                    },
                    "end_call_sms_not_answered": {
                      "type": "boolean",
                      "description": "Send if call not answered"
                    }
                  }
                },
                "zeplo": {
                  "type": "object",
                  "description": "Zeplo (WhatsApp) configuration for sendMessage action",
                  "properties": {
                    "is_zeplo": {
                      "type": "boolean",
                      "description": "Enable Zeplo WhatsApp messaging"
                    },
                    "description": {
                      "type": "string",
                      "description": "Condition text describing when to send the WhatsApp message"
                    },
                    "content": {
                      "type": "object",
                      "description": "Zeplo template content and parameter configuration",
                      "properties": {
                        "templateName": {
                          "type": "string",
                          "description": "Name of the approved WhatsApp template in Zeplo"
                        },
                        "language": {
                          "type": "string",
                          "description": "Template language code (e.g. en_US)",
                          "default": "en_US"
                        },
                        "category": {
                          "type": "string",
                          "description": "Template category: MARKETING, UTILITY, or AUTHENTICATION",
                          "enum": [
                            "MARKETING",
                            "UTILITY",
                            "AUTHENTICATION"
                          ]
                        },
                        "parameter_hints": {
                          "type": "array",
                          "description": "Array of hint strings aligned 1-to-1 with parameter_slots. Tells the AI what value to extract for each placeholder.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "parameter_slots": {
                          "type": "array",
                          "description": "Array of slot objects describing each placeholder's position in the template",
                          "items": {
                            "type": "object",
                            "properties": {
                              "section": {
                                "type": "string",
                                "description": "Template section: header, body, or button",
                                "enum": [
                                  "header",
                                  "body",
                                  "button"
                                ]
                              },
                              "index": {
                                "type": "integer",
                                "description": "For header/body: the placeholder number (1-based). For button: button position (0-based)"
                              },
                              "sub_index": {
                                "type": "integer",
                                "description": "For button only: the placeholder number inside the button URL (1-based)"
                              },
                              "label": {
                                "type": "string",
                                "description": "Human-readable label (e.g. 'Body {{1}}' or 'Button 0 (Track Order) {{1}}')"
                              }
                            }
                          }
                        },
                        "components": {
                          "type": "array",
                          "description": "Always empty array [] — built at send time from parameter values",
                          "items": {}
                        }
                      }
                    },
                    "end_call_sms": {
                      "type": "boolean",
                      "description": "Send Zeplo message after the call ends"
                    },
                    "end_call_sms_not_answered": {
                      "type": "boolean",
                      "description": "Send Zeplo message if call is not answered"
                    }
                  }
                }
              },
              "required": [
                "type"
              ]
            }
          },
          "goal": {
            "description": "The goal of the assistant",
            "type": "string"
          },
          "start_speech": {
            "description": "Start speech of the assistant",
            "type": "string"
          },
          "voice_id": {
            "description": "Voice Id will get where we choose Accent",
            "type": "string"
          },
          "voice_name": {
            "description": "Voice name will get where we choose Accent",
            "type": "string"
          },
          "zapier_hook": {
            "description": "For Zapier hook need to add link",
            "type": "string"
          },
          "script": {
            "description": "Script of the assistant",
            "type": "string"
          },
          "knowledge_base_Id": {
            "description": "Knowledge base",
            "type": "string"
          },
          "maximum_time_per_call": {
            "description": "Maximum time per call in minutes",
            "type": "number"
          },
          "is_recording": {
            "description": "Enable disable recording",
            "type": "boolean"
          },
          "is_voice_note": {
            "description": "Enable disable voice note",
            "type": "boolean"
          },
          "voice_note": {
            "description": "Voice note is required if ```is_voice_note``` are enabled.",
            "type": "string"
          },
          "ai_model_id": {
            "description": "Need to pass default 1",
            "type": "string",
            "enum": [
              "1"
            ]
          },
          "sentiment": {
            "type": "object",
            "description": "Sentiment classification prompts for analyzing conversations.",
            "properties": {
              "general_prompt": {
                "type": "string",
                "description": "General instruction for analyzing customer interactions."
              },
              "positive_prompt": {
                "type": "string",
                "description": "If the customer is happy with the service, classify it as positive."
              },
              "negative_prompt": {
                "type": "string",
                "description": "If the customer is complaining, classify it as negative."
              },
              "neutral_prompt": {
                "type": "string",
                "description": "If the conversation is just informational, classify it as neutral."
              }
            }
          },
          "is_back_sound": {
            "description": "Background sound enable/disable",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          "voice_speed": {
            "description": "Voice speed sound enable/disable",
            "type": "number",
            "enum": [
              1,
              1.1,
              1.2,
              1.3,
              1.4,
              1.5,
              1.6,
              1.7,
              1.8,
              1.9,
              2
            ]
          },
          "is_filler": {
            "description": "Filler enable/disable",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          "fillers": {
            "description": "Fillers",
            "type": "array",
            "enum": [
              "umm",
              "uhh"
            ]
          },
          "assistant_image": {
            "description": "Assistant image url",
            "type": "string",
            "enum": [
              "https://precallai.s3.ap-south-1.amazonaws.com/assistant_profile/1.jpeg",
              "https://precallai.s3.ap-south-1.amazonaws.com/assistant_profile/1.jpeg",
              "https://precallai.s3.ap-south-1.amazonaws.com/assistant_profile/3.jpeg",
              "https://precallai.s3.ap-south-1.amazonaws.com/assistant_profile/4.jpeg",
              "https://precallai.s3.ap-south-1.amazonaws.com/assistant_profile/5.jpeg"
            ]
          },
          "ai_modal": {
            "description": "AI modal will get where we choose Accent",
            "type": "string"
          },
          "is_sensitivity": {
            "description": "Sensitivity enable/disable",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          "sensitivity": {
            "description": "Sensitivity",
            "type": "number",
            "enum": [
              600,
              700,
              800,
              900,
              1000,
              1100,
              1200,
              1300,
              1400,
              1500,
              1600,
              1700,
              1800,
              1900,
              2000
            ]
          },
          "temperature": {
            "description": "Temperature",
            "type": "number",
            "enum": [
              0.7,
              0.8,
              0.9,
              1,
              1.1,
              1.2,
              1.3,
              1.4,
              1.5,
              1.6,
              1.7,
              1.8,
              1.9,
              2
            ]
          },
          "is_opt_out": {
            "description": "Opt out enable/disable",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          "opt_out_script": {
            "description": "If ```is_opt_out``` is enable then add opt out prompts",
            "type": "string",
            "enum": [
              "If a user explicitly expresses that they no longer wish to receive calls, such as by saying 'Don't call me again,' 'I'm not interested,' or any similar phrase indicating that they want to opt out of future communications, please trigger the 'optOut' function and inform the user that they will no longer be contacted for calls."
            ]
          },
          "is_wait_start_speech": {
            "description": "For assistant typle is ```outbound``` then you can enable or disable",
            "type": "boolean",
            "enum": [
              true,
              false
            ]
          },
          "utterance_length": {
            "description": "Utterance length",
            "type": "number",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10
            ]
          },
          "meeting_note_prompt": {
            "description": "Meeting note prompt",
            "type": "string"
          },
          "call_outcome_prompt": {
            "description": "Call outcome prompt",
            "type": "string"
          },
          "generate_call_flow": {
            "description": "Auto-generate call flow from the script",
            "type": "boolean"
          },
          "gender": {
            "description": "Voice gender: male or female",
            "type": "string",
            "enum": [
              "male",
              "female"
            ]
          },
          "is_start_speech_update": {
            "description": "Whether the start speech has been updated from default",
            "type": "boolean"
          },
          "company_website": {
            "description": "Company website URL",
            "type": "string"
          },
          "eleven_lab_modal": {
            "description": "ElevenLabs model ID when using ElevenLabs voices",
            "type": "string"
          },
          "voice_data": {
            "description": "Full voice object of the selected voice. Required when ai_modal is 'qmodel'.",
            "type": "object",
            "properties": {
              "voice_id": {
                "type": "string",
                "description": "Unique voice identifier"
              },
              "name": {
                "type": "string",
                "description": "Display name of the voice"
              },
              "category": {
                "type": "string",
                "description": "Voice category (e.g. professional, conversational)"
              },
              "labels": {
                "type": "object",
                "description": "Voice metadata labels",
                "properties": {
                  "language": {
                    "type": "string",
                    "description": "Language code (e.g. hi, en)"
                  },
                  "language_name": {
                    "type": "string",
                    "description": "Language name (e.g. Hindi, English)"
                  },
                  "gender": {
                    "type": "string",
                    "description": "Voice gender"
                  },
                  "accent": {
                    "type": "string",
                    "description": "Voice accent (e.g. Indian, US)"
                  }
                }
              },
              "preview_url": {
                "type": "string",
                "description": "URL to preview audio sample of the voice"
              },
              "reference_text": {
                "type": "string",
                "description": "Reference text used for the voice sample"
              },
              "is_native": {
                "type": "boolean",
                "description": "Whether this is a native voice"
              },
              "categories": {
                "type": "array",
                "description": "Usage categories for this voice",
                "items": {
                  "type": "string"
                }
              },
              "source": {
                "type": "string",
                "description": "Voice source (e.g. professional_cloning, community)"
              },
              "id": {
                "type": "string",
                "description": "Voice ID (same as voice_id)"
              },
              "displayname": {
                "type": "string",
                "description": "Display name of the voice"
              },
              "ai_modal": {
                "type": "string",
                "description": "AI model associated with this voice"
              },
              "language": {
                "type": "string",
                "description": "Language code"
              },
              "language_name": {
                "type": "string",
                "description": "Language display name"
              },
              "similarity": {
                "type": "number",
                "description": "Voice similarity score (0-100)"
              },
              "stability": {
                "type": "number",
                "description": "Voice stability score (0-100)"
              }
            }
          },
          "stability": {
            "description": "Voice stability (0.0 to 1.0). Controls how consistent the voice sounds.",
            "type": "number"
          },
          "similarity": {
            "description": "Voice similarity boost (0.0 to 1.0). Controls how closely the output matches the original voice.",
            "type": "number"
          },
          "style_exaggeration": {
            "description": "Style exaggeration (0.0 to 1.0). Controls how expressive the voice is.",
            "type": "number"
          },
          "speaker_boost": {
            "description": "Enable speaker boost for clearer voice output",
            "type": "boolean"
          },
          "safety_fallback_delay": {
            "description": "Fallback delay in milliseconds when AI doesn't respond in time",
            "type": "number"
          },
          "enable_delay": {
            "description": "Enable response delay for more natural conversation flow",
            "type": "boolean"
          },
          "is_call_flow": {
            "description": "Whether a custom call flow is configured",
            "type": "boolean"
          },
          "call_flow": {
            "description": "Custom call flow configuration object",
            "type": "object"
          },
          "background_type": {
            "description": "Background sound type (e.g. office, cafe, street)",
            "type": "string"
          },
          "background_volume": {
            "description": "Background sound volume level (1-10)",
            "type": "number"
          },
          "end_call_message": {
            "description": "Message spoken by the assistant at the end of the call",
            "type": "string"
          },
          "wait_max_interval": {
            "description": "Maximum wait interval in milliseconds before the assistant speaks again",
            "type": "number"
          },
          "set_transcription_start_time": {
            "description": "Transcription start time offset in milliseconds",
            "type": "number"
          },
          "widget_config": {
            "description": "Widget configuration for embedding the assistant on a website",
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "description": "Widget display mode (e.g. floating, embedded)",
                "enum": [
                  "floating",
                  "embedded"
                ]
              },
              "api_key": {
                "type": "string",
                "description": "API key for the widget"
              },
              "enabled": {
                "type": "boolean",
                "description": "Enable or disable the widget"
              },
              "uiStyle": {
                "type": "string",
                "description": "Widget UI style (e.g. default, minimal)"
              },
              "position": {
                "type": "string",
                "description": "Widget position on the page (e.g. bottom-right, bottom-left)"
              },
              "containerId": {
                "type": "string",
                "description": "DOM container ID where the widget renders"
              }
            }
          }
        }
      },
      "NewAssistant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Assistant"
          },
          {
            "type": "object"
          }
        ]
      },
      "UpdateAssistant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Assistant"
          },
          {
            "type": "object"
          }
        ]
      },
      "Dialer": {
        "required": [
          "dialer_type",
          "name",
          "phone_number",
          "sid",
          "auth_token",
          "sip_termination_uri"
        ],
        "type": "object",
        "properties": {
          "dialer_type": {
            "description": "Dialer type",
            "type": "string",
            "enum": [
              "Twilio",
              "Telnyx",
              "sip"
            ]
          },
          "name": {
            "description": "The name of the dialer",
            "type": "string"
          },
          "phone_number": {
            "description": "Phone number",
            "type": "string"
          },
          "sid": {
            "description": "The sid",
            "type": "string"
          },
          "auth_token": {
            "description": "Auth token and also for Telnyx id not require.",
            "type": "string"
          },
          "sip_termination_uri": {
            "description": "SIP termination uri for only sip",
            "type": "string"
          },
          "sip_trunk_user_name": {
            "description": "SIP trunk user name for only sip",
            "type": "string"
          },
          "sip_trunk_password": {
            "description": "SIP trunk password for only sip",
            "type": "string"
          }
        }
      },
      "NewDialer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Dialer"
          },
          {
            "type": "object"
          }
        ]
      },
      "UpdateDialer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Dialer"
          },
          {
            "type": "object"
          }
        ]
      },
      "Contact": {
        "required": [
          "name",
          "description"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the Contact",
            "type": "string"
          },
          "description": {
            "description": "The description of the Contact",
            "type": "string"
          }
        }
      },
      "NewContact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Contact"
          },
          {
            "type": "object"
          }
        ]
      },
      "UpdateContact": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Contact"
          },
          {
            "type": "object"
          }
        ]
      },
      "ContactAudiences": {
        "type": "object",
        "properties": {
          "first_name": {
            "description": "First name",
            "type": "string"
          },
          "last_name": {
            "description": "Last name",
            "type": "string"
          },
          "email": {
            "description": "Email",
            "type": "string"
          },
          "description": {
            "description": "Description",
            "type": "string"
          },
          "phone": {
            "description": "phone number",
            "type": "string"
          },
          "sync_by": {
            "description": "Sync by",
            "type": "string"
          },
          "id": {
            "description": "Id",
            "type": "string"
          }
        }
      },
      "ContactAudienceNew": {
        "required": [
          "first_name",
          "last_name",
          "phone"
        ],
        "type": "object",
        "properties": {
          "first_name": {
            "description": "First name",
            "type": "string"
          },
          "last_name": {
            "description": "Last name",
            "type": "string"
          },
          "email": {
            "description": "Email",
            "type": "string"
          },
          "phone": {
            "description": "phone number",
            "type": "string"
          },
          "description": {
            "description": "Description",
            "type": "string"
          },
          "job_title": {
            "description": "Job title",
            "type": "string"
          },
          "lifecycle_stage": {
            "description": "Lifecycle stage",
            "type": "string"
          },
          "lead_status": {
            "description": "Lead status",
            "type": "string"
          }
        }
      },
      "Playground": {
        "required": [
          "first_name",
          "last_name",
          "email",
          "phone_number",
          "assistant_id",
          "dialer_id"
        ],
        "type": "object",
        "properties": {
          "first_name": {
            "description": "The first name",
            "type": "string"
          },
          "last_name": {
            "description": "The last name",
            "type": "string"
          },
          "email": {
            "description": "The email",
            "type": "string"
          },
          "phone_number": {
            "description": "Phone numbers",
            "type": "array"
          },
          "assistant_id": {
            "description": "Assistant",
            "type": "string"
          },
          "dialer_id": {
            "description": "Dialer",
            "type": "string"
          },
          "description": {
            "description": "Description",
            "type": "string"
          }
        }
      },
      "NewPlayground": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Playground"
          },
          {
            "type": "object"
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "QuestionAnswer": {
        "required": [
          "question",
          "answer"
        ],
        "type": "object",
        "properties": {
          "question": {
            "description": "The question",
            "type": "string"
          },
          "answer": {
            "description": "The answer to the question",
            "type": "string"
          }
        }
      },
      "NewKnowledgeBase": {
        "required": [
          "title",
          "language",
          "data"
        ],
        "type": "object",
        "properties": {
          "title": {
            "description": "The title of the knowledge base",
            "type": "string"
          },
          "language": {
            "description": "Language code (e.g. `en`)",
            "type": "string"
          },
          "data": {
            "description": "The question/answer pairs of the knowledge base",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuestionAnswer"
            }
          }
        }
      },
      "KnowledgeBase": {
        "type": "object",
        "properties": {
          "hash_id": {
            "description": "The unique id of the knowledge base, used as `id` in the other endpoints",
            "type": "string"
          },
          "title": {
            "description": "The title of the knowledge base",
            "type": "string"
          },
          "language": {
            "description": "Language code (e.g. `en`)",
            "type": "string"
          },
          "status": {
            "description": "Build status: `building`, `ready` or `failed`",
            "type": "string"
          },
          "data": {
            "description": "JSON-encoded string. An array of question/answer objects for FAQ knowledge bases, or an object with `type: \"document_embedding\"`, `source_urls`, `total_chunks`, `source_file` / `source_count` for document and website knowledge bases",
            "type": "string"
          },
          "created_at": {
            "description": "Creation date",
            "type": "string"
          }
        }
      },
      "EmbedUrlsRequest": {
        "required": [
          "urls"
        ],
        "type": "object",
        "properties": {
          "urls": {
            "description": "The website page URLs to scrape, chunk and embed",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "title": {
            "description": "Optional title, defaults to `Website KB`",
            "type": "string"
          },
          "language": {
            "description": "Optional language code (e.g. `en`)",
            "type": "string"
          }
        }
      },
      "ListSitemapRequest": {
        "required": [
          "urls"
        ],
        "type": "object",
        "properties": {
          "urls": {
            "description": "The site URLs to read sitemaps from (e.g. `https://example.com`)",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pagelimit": {
            "description": "Maximum number of page URLs returned per sitemap (the application uses 100)",
            "type": "integer"
          }
        }
      },
      "SitemapResult": {
        "type": "object",
        "properties": {
          "urls": {
            "description": "The page URLs discovered in this sitemap",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BuildStatus": {
        "type": "object",
        "properties": {
          "build_status": {
            "description": "`building`, `ready` or `failed`",
            "type": "string"
          },
          "progress": {
            "description": "Build progress details",
            "type": "object",
            "properties": {
              "phase": {
                "description": "Current phase, e.g. `queued`",
                "type": "string"
              },
              "queue_position": {
                "description": "Position in the build queue when phase is `queued`",
                "type": "integer"
              },
              "percentage": {
                "description": "Build progress percentage (0-100)",
                "type": "integer"
              },
              "currentStatus": {
                "description": "Human-readable description of the current step",
                "type": "string"
              }
            }
          }
        }
      },
      "KnowledgeBaseChunk": {
        "type": "object",
        "properties": {
          "node_id": {
            "description": "The unique id of the entry",
            "type": "string"
          },
          "node_type": {
            "description": "The type of the entry, e.g. `Question` for FAQ entries",
            "type": "string"
          },
          "content": {
            "description": "The entry content (question text for FAQ entries, chunk text for documents)",
            "type": "string"
          },
          "answer": {
            "description": "The answer, for FAQ entries",
            "type": "string"
          }
        }
      },
      "ChunksPage": {
        "type": "object",
        "properties": {
          "chunks": {
            "description": "The entries of the requested page (FAQ knowledge bases may return them as `faqs` with `Question` / `Answer` fields instead)",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KnowledgeBaseChunk"
            }
          },
          "pagination": {
            "description": "Pagination details",
            "type": "object",
            "properties": {
              "total": {
                "description": "Total number of entries",
                "type": "integer"
              },
              "total_pages": {
                "description": "Total number of pages",
                "type": "integer"
              },
              "page": {
                "description": "Current page number",
                "type": "integer"
              },
              "limit": {
                "description": "Page size",
                "type": "integer"
              }
            }
          }
        }
      },
      "UpdateChunkRequest": {
        "required": [
          "node_id",
          "node_type",
          "content"
        ],
        "type": "object",
        "properties": {
          "node_id": {
            "description": "The id of the entry to update",
            "type": "string"
          },
          "node_type": {
            "description": "The type of the entry, e.g. `Question`",
            "type": "string"
          },
          "content": {
            "description": "The new content (question text for FAQ entries, chunk text for documents)",
            "type": "string"
          },
          "answer": {
            "description": "The new answer, for FAQ entries",
            "type": "string"
          }
        }
      },
      "DeleteChunkRequest": {
        "required": [
          "node_id",
          "node_type"
        ],
        "type": "object",
        "properties": {
          "node_id": {
            "description": "The id of the entry to delete",
            "type": "string"
          },
          "node_type": {
            "description": "The type of the entry, e.g. `Question`",
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  }
}
